{% extends 'restaurant_app/base.html' %}
{% block content %}
    <div class="container-fluid d-flex flex-column ">
        <div class="list-group">
            <h3>Тағамдар</h3>
            {% for food in foods %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ food.title }}</h5>
                        <small>{{ food.price }}</small>
                    </div>
                    <p class="mb-1">{{ food.cook_time }}</p>
                </a>
            {% endfor %}
        </div>
            <div class="list-group">
            <h3 class="mt-2">Сусындар</h3>
            {% for drink in drinks %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ drink.title }}</h5>
                        <small>{{ drink.price }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}