{% extends 'restaurant_app/base.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block style %}
    <link href="{% static 'restaurant_app/index/index.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container d-flex flex-wrap m-auto justify-content-center">
            {% if procceses %}
                {% for procces in procceses %}
                    <div class="card border-primary m-3" style="max-width: 18rem;">
                        <div class="card-header bg-dark border-primary d-flex justify-content-between">
                        <span class="text-light">
                            {{ procces.order_time}}
                        </span>
                        </div>
                        <div class="card-body" style="background-color: #f5f5f5">
                            <h4 class="card-title text-danger">{{ procces.temperature }}</h4>
                            <h5 class="card-title text-dark">Влажность:{{procces.humidity }}</h5>
                            <h5 class="card-title text-success">{{ procces.instance }}</h5>
                            <h5 class="card-title text-info">{{ procces.equipment }}</h5>
                            <p class="card-title ">{{ procces.description }}</p>
                            <form action="{% url 'delete-order' procces.id %} ">
                                {% csrf_token %}
                                <button class="btn btn-outline-success btn-sm container-fluid" type="submit">
                                    Отметить завершенным
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="container m-5 d-flex align-items-center flex-column">
                    <h3>Добро пожаловать в сервис управления временем зерносушилки!</h3>
                    <p>Очередь пуст!</p>

                    <a class="mt-2" href="{% url 'make-order' %}">Добавить в очередь процесс?</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="container m-5 py-5 d-flex align-items-center flex-column">
            <h3>Добро пожаловать в систему!</h3>
            <p>Для использвания сервиса пожалуйста войдите в систему!</p>
            <form method="post" class="d-flex justify-content-center flex-column">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-outline-success mt-2" type="submit">Отправить</button>
            </form>
            <a class="mt-2" href="{% url 'registration' %}">Хотите зарегистрироваться?</a>
        </div>

    {% endif %}
{% endblock %}