<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ресторан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<header>
    <div class="header-area bg-dark">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-5">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="{% url 'landing' %}">Сайт парақшасы</a></li>
                                    <li><a href="{% url 'about' %}">Ресторан туралы</a></li>
                                    <li><a href="{% url 'index' %}">Тапсырыс беру қосымшасы</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="{% url 'landing' %}">
                                <img width="75" src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-xl-block">
                                <a class="#" href="#">+7 132 96 12 15</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<!-- slider_area_end -->

<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>Әс мәзірі</span>
                    <h3>Қаладағы ең дәмді тағам</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" src="{% static 'img/burger/1.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Лимон майы соусы қосылған гриль лосось</h3>
                        <p>Жаңа піскен атлантикалық лосось филесі шөптермен дәмделеді, грильде қуырылады және ащы лимон
                            майы соусымен бірге беріледі. Қуырылған көкөністермен және сіздің таңдауыңыз бойынша
                            беріледі.</p>
                        <span>7.600 тг</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" height="166" src="{% static 'img/burger/2.webp' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Трюфельді саңырауқұлақ рисотто</h3>
                        <p>Кремді Арборио күріші жабайы саңырауқұлақтардың қоспасымен пісірілген және трюфель майы,
                            пармезан ірімшігі және жаңа піскен шөптермен аяқталған. Саңырауқұлақтарды жақсы көретіндерге
                            арналған бай және дәмді тағам.</p>
                        <span>5.900 тг</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" height="166" src="{% static 'img/burger/3.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Каджун асшаяндарынан жасалған макарон</h3>
                        <p>Succulent shrimp tossed in a spicy Cajun cream sauce with bell peppers, onions, and linguine
                            pasta. A perfect combination of flavors and textures that will leave you craving for
                            more.</p>
                        <span>2.900 тг</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" height="166" src="{% static 'img/burger/4.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Жерорта теңізі қой еті</h3>
                        <p>Жерорта теңізі дәмдеуіштерімен маринадталған, грильде пісірілген және сергітетін жалбыз
                            йогурт соусымен бірге беріледі. Қуырылған көкөністер мен кускуспен бірге.</p>
                        <span>7.200 тг</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" height="166" src="{% static 'img/burger/5.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Вегетариандық кокос карри</h3>
                        <p>Хош иісті дәмдеуіштермен кокос сүтіне негізделген соуста пісірілген көкөністер, ноқат және
                            тофу қоспасынан жасалған хош иісті және кремді карри. Буға пісірілген жасмин күрішімен бірге
                            беріледі.</p>
                        <span>2.100 тг</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img width="166" height="166" src="{% static 'img/burger/6.jpg' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Барбекю тартылған шошқа етінен жасалған сэндвич</h3>
                        <p>Баяу пісірілген тартылған шошқа еті дәмді барбекю соусында тұншықтырып, үстіне салат салатын
                            салып, қуырылған тоқашпен бірге беріледі. Сіздің қалауыңызды қанағаттандыратын классикалық
                            жайлы тағам.</p>
                        <span>4.900 тг</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- features_room_startt -->
<div class="Burger_President_area">
    <div class="Burger_President_here">
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="{% static 'img/burgers/1.png' %}" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>1700 тг</span>
                        <h3>Гамбургер комбо</h3>
                        <a href="{% url 'index' %}" class="boxed-btn3">Тапсырыс беру</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="single_Burger_President hidden">
            <div class="room_thumb">
                <img src="{% static 'img/burgers/2.png' %}" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>2100 тг</span>
                        <h3>Чизбургер</h3>
                        <a href="{% url 'index' %}" class="boxed-btn3">Тапсырыс беру</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="{% static 'img/about/1.png' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Біз туралы</span>
                        <h3>ҮЗДІК БУРГЕР <br>
                            ҚАЛАҢЫЗДА</h3>
                    </div>
                    <p>Біздің дәмді шырынды және хош иісті гамбургер қаланың әңгімесі болып табылады және бұрын-соңды
                        болмағандай сіздің қалауыңызды қанағаттандырады.

                        Тек ең жаңа, жоғары сапалы ингредиенттерден жасалған біздің бургеріміз ашық отты грильде мінсіз
                        пісірілген, жергілікті 100% ангус сиыр етінен жасалған қолдан жасалған пирожныйдан басталады.
                        Нәтижесі - шырынды, нәзік ортасы бар ауыз суаратын, тамаша күйдірілген сыртқы, ол сізді көбірек
                        нәрсеге құмар қалдырады.</p>
                    <div class="img_thumb">
                        <img src="{% static 'img/jessica-signature.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- video_area_start -->
<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <h3>БУРГЕР <br>
            БАКАЛАВР</h3>
        <span>Біз дәмді бургерді қалай жасаймыз</span>
        <div class="video_payer">
            <a href="https://www.youtube.com/watch?v=ulhRORJpuBM" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- video_area_end -->

<!-- testimonial_area_start  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>Шолу</span>
                    <h3>Бақытты клиенттер</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>“Мен жақында осы мейрамханада тамақтандым және тағам керемет болды деп сенімді
                                        түрде айта аламын! Дәмі керемет болды, ал ингредиенттердің сапасы әр тістегеннен
                                        анық көрінді. Менде болған бургер мінсіз, шырынды және хош иісті, үстіңгі
                                        қоспалар мен қосымша дәмділік қабатын қосатын арнайы тұздықпен тамаша
                                        дайындалды.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/1.png' %}" alt="">
                                        </div>
                                        <h4>Kristiana Chouhan</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>“Фри қытырлақ және алтын түсті, ал қызмет мінсіз болды. Әр тағамға деген
                                        қамқорлық пен құмарлықты көрсететін тағамның тұсаукесерінде егжей-тегжейге назар
                                        аударуды да бағаладым. Өзімді тамақтанатын адам ретінде мен сыртта тамақтануға
                                        қатысты жоғары стандарттарға ие боламын және бұл мейрамхана менің күткенімнен
                                        асып түсті. Мен қайтып келуді және олардың таңғажайып тағамдарынан ләззат алуды
                                        күте алмаймын!.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/2.png' %}" alt="">
                                        </div>
                                        <h4>Arafath Hossain</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec
                                        sed
                                        neque.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/3.png' %}" alt="">
                                        </div>
                                        <h4>A.H Shemanto</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->

<!-- instragram_area_start -->
<div class="instragram_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="{% static 'img/instragram/1.png' %}" alt="">
                    <div class="ovrelay">
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="{% static 'img/instragram/2.png' %}" alt="">
                    <div class="ovrelay">
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="{% static 'img/instragram/3.png' %}" alt="">
                    <div class="ovrelay">
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="{% static 'img/instragram/4.png' %}" alt="">
                    <div class="ovrelay">
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instragram_area_end -->

<footer class="footer">
    <div class="footer_top">
        <div class="container">

            <div class="footer_widget text-center ">
                <h3 class="footer_title pos_margin">
                    Ақтобе
                </h3>
                <p>Алия молдағулова, 11б <br>
                    <a href="mailto:info@restaurant.com">info@restaurant.com</a></p>
                <a class="number" href="#">+7 132 96 12 15</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="socail_links text-center">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="ti-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;<script>document.write(new Date().getFullYear());</script>
                        Қазақ орыс халқыралық университет
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/scrollIt.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>